source ~/.vim/vimrc

" 以下是自定义快捷键-----------------
nnoremap <LEADER>q :action QuickJavaDoc<CR>
" ideavim内置快捷键Option+F1 
nnoremap nf :action SelectIn<CR>
nnoremap nt :action ActivateProjectToolWindow<CR>
" idea原生快捷键为Command+[
nnoremap <c-o> :action Back<CR>
" idea原生快捷键为Command+]
nnoremap <c-i> :action Forward<CR>
nnoremap <m-i> :action ImplementMethods<CR>
" idea原生快捷键为Command+B
nnoremap gd :action GotoDeclaration<CR>
" idea原生快捷键为Option+F7
nnoremap gr :action FindUsages<CR>

" Tab operation
" (切换标签)
nnoremap tn gt
nnoremap tp gT

" " 复制单个单词 
" nnoremap <Leader>c "+yiw"ayiw
" " 删除单个字符串并黏贴寄存器内容 
" nnoremap <Leader>v viw"ap

set easymotion 
set keep-english-in-normal
set keep-english-in-normal-and-restore-in-insert
set commentary
set surround
